.primary-color {
  color: #e8a650; }

.secondary-color {
  color: #5092e8; }

.tertiary-color {
  color: #e85a50; }

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f4f3f4; }
html ::-webkit-scrollbar {
  width: 6px;
  background-color: transparent; }
html ::-webkit-scrollbar-thumb {
  background-color: #2e151b; }

body {
  height: 100%;
  margin: 0;
  background: radial-gradient(ellipse at top right, #2e151b, #2f4454 0%, #2e151b) no-repeat fixed;
  color: #f4f3f4; }

a {
  color: #5092e8; }

small {
  color: #f4f3f4; }

.header-section {
  margin: 0 10%; }
  .header-section .navbar-container {
    background-color: inherit; }
    .header-section .navbar-container .navbar .navbar-brand {
      padding: 0.5rem 0; }
      .header-section .navbar-container .navbar .navbar-brand .header-logo {
        max-width: 15rem; }
    .header-section .navbar-container .navbar .nav-link {
      color: #f4f3f4; }
      .header-section .navbar-container .navbar .nav-link.disabled {
        color: #6c757d; }

.forums-header, .topics-header, .posts-header, .users-header {
  overflow: hidden; }
  .forums-header:after, .topics-header:after, .posts-header:after, .users-header:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #f4f3f4; }

.btn.btn-primary {
  width: 10rem;
  background-color: transparent;
  border-color: #f4f3f4;
  color: #f4f3f4; }
  .btn.btn-primary.btn-alert {
    color: #e85a50; }

.content-section {
  border-radius: 10px;
  background: inherit;
  margin: 0 10%;
  padding: 0 5%; }
  .content-section .forum-entry button, .content-section .topic-entry button {
    color: #e8a650; }
  .content-section .user-link a {
    color: #e85a50; }

.post-control {
  cursor: pointer; }

/*# sourceMappingURL=app.css.map */
