@import './variables';

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.tertiary-color {
  color: $tertiary-color;
}

html {
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $primary-text;
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2e151b;
  }
}

body {
  height: 100%;
  margin: 0;
  background: $background no-repeat fixed;
  color: $primary-text;
}

a {
  color: $secondary-color;
}

small {
  color: $primary-text;
}

.header-section {
  margin: 0 10%;

  .navbar-container {
    background-color: $foreground;

    .navbar {
      .navbar-brand {
        padding: 0.5rem 0;

        .header-logo {
          max-width: 15rem;
        }
      }

      .nav-link {
        color: $primary-text;

        &.disabled {
          color: #6c757d;
        }
      }
    }
  }
}

.forums-header, .topics-header, .posts-header, .users-header {
  overflow: hidden;

  &:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid $primary-text;
  }
}

.btn.btn-primary {
  width: 10rem;
  background-color: transparent;
  border-color: $primary-text;
  color: $primary-text;

  &.btn-alert {
    color: $tertiary-color;
  }
}

.content-section {
  border-radius: 10px;
  background: $foreground;
  margin: 0 10%;
  padding: 0 5%;

  .forum-entry, .topic-entry {
    button {
      color: $primary-color;
    }
  }

  .user-link a {
    color: $tertiary-color;
  }
}

.post-control {
  cursor: pointer;
}
