.topic-title {
  color: #e8a650; }

.user-avatar img {
  max-width: 70%; }

.post-timestamp {
  border-bottom: dashed 1px rgba(222, 226, 230, 0.5) !important; }

.post-message {
  min-height: 150px; }

.post-signature {
  border-top: dashed 1px rgba(222, 226, 230, 0.5) !important; }

/*# sourceMappingURL=topic.css.map */
