@import './variables';

.user-entry {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-avatar img {
  max-height: 200px;
}

.left-side {
  //border-right: 1px dashed $primary-color;
  //border-bottom: 1px dashed $primary-color;

  //&:before {
  //  content : '';
  //  position: absolute;
  //  left: 0;
  //  bottom: 0;
  //  height: 1px;
  //  width: 97%;
  //  border-bottom: 1px solid $primary-color;
  //}
  //
  //&:after {
  //  content : '';
  //  position: absolute;
  //  top: 2%;
  //  right: 3%;
  //  height: 98%;
  //  width: 1px;
  //  border-right: 1px solid $primary-color;
  //}
}