//Alternate themes?
//$background: radial-gradient(ellipse at top right, #212624, #393326 0%, #212624);
$background: radial-gradient(ellipse at top right, #2e151b, #2f4454 0%, #2e151b);
$foreground: inherit;

$primary-text: #f4f3f4;
$primary-color: #e8a650;
$secondary-color: #5092e8;
$tertiary-color: #e85a50;
